.result-container {
	width: 100%;
	height: 40%;
	position: relative;
}

.result-container h2 {
    position: absolute;
    right: 0;
    padding: 2% 3%;
    font-size: clamp(1.5rem,6vw,2rem);
    color: var(--text-color);
}
