.keybase {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.keybase p {
    font-size: clamp(1rem, 10vw, 3rem);
}

.blue {
	color: var(--text-color-alt);
}

.default {
    color: var(--text-color);
}
 
.click-cover {
	position: absolute;
    opacity: 0.1;
    content: '';
    width: 19vw;
    height: 19vw;
    background-color: var(--click-color);
    border-radius: 100%;	
}